body {
  background: var(--Slate-300);
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 320px;
  height: 500px;
  background-color: var(--White);
  border-radius: 14px;
}
.card-content {
  border-radius: 2px;
  padding: 16px 16px 40px 16px;
}
.card img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.card-text {
  padding: 8px;
}

.card-title {
  color: var(--Slate-900);
}

.card-subtitle {
  color: var(--Slate-500);
}
