@font-face {
    font-family:'Figtree-Italic' ;
    src: url(../fonts/Figtree-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Figtree-Variable';
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}